/**
* ================================================
* Bootstrap
* ================================================
*/
// Functions first
@import "../../../../node_modules/bootstrap/scss/functions";

// Variable overrides second
// $primary: #900;
// $enable-shadows: true;
// $prefix: "mo-";

// $secondary: #4e54c8;
$secondary: #c8c8c8;

// Required Bootstrap imports
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/root";

// Optional components
@import "../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../node_modules/bootstrap/scss/containers";
@import "../../../../node_modules/bootstrap/scss/grid";
@import "../../../../node_modules/bootstrap/scss/helpers";
@import "../../../../node_modules/bootstrap/scss/utilities/api";

// Uncomment whene needed only
@import "../../../../node_modules/bootstrap/scss/type";
@import "../../../../node_modules/bootstrap/scss/images";
// @import "../../../../node_modules/bootstrap/scss/tables";
@import "../../../../node_modules/bootstrap/scss/forms";
@import "../../../../node_modules/bootstrap/scss/buttons";
@import "../../../../node_modules/bootstrap/scss/transitions";
@import "../../../../node_modules/bootstrap/scss/dropdown";
@import "../../../../node_modules/bootstrap/scss/button-group";
@import "../../../../node_modules/bootstrap/scss/nav";
@import "../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../node_modules/bootstrap/scss/card";
// @import "../../../../node_modules/bootstrap/scss/accordion";
// @import "../../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../../node_modules/bootstrap/scss/pagination";
// @import "../../../../node_modules/bootstrap/scss/badge";
@import "../../../../node_modules/bootstrap/scss/alert";
// @import "../../../../node_modules/bootstrap/scss/progress";
@import "../../../../node_modules/bootstrap/scss/list-group";
@import "../../../../node_modules/bootstrap/scss/close";
// @import "../../../../node_modules/bootstrap/scss/toasts";
@import "../../../../node_modules/bootstrap/scss/modal";
// @import "../../../../node_modules/bootstrap/scss/tooltip";
// @import "../../../../node_modules/bootstrap/scss/popover";
// @import "../../../../node_modules/bootstrap/scss/carousel";
@import "../../../../node_modules/bootstrap/scss/spinners";
@import "../../../../node_modules/bootstrap/scss/offcanvas";
// @import "../../../../node_modules/bootstrap/scss/placeholders";

.pulse {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(78, 84, 200, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(52, 172, 224, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
	}
}

.area {
	// background: #4e54c8;
	background: #e0e0e0;
	// background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	// height: 100vh;
	position: relative;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

/**
* ================================================
* Swiper Default Styles
* ================================================
*/
.swiper {
	width: 100%;
	height: 100%;
}

/**
* ================================================
* Global Styles
* ================================================
*/
body {
	font-family: "Cairo", sans-serif;
}

/**
* ================================================
* Metabar
* ================================================
*/
.metabar {
	min-height: 39px;
	background-color: $gray-800;
	font-size: 0.8rem;
	padding-top: 0;
	padding-bottom: 0;

	.date {
		/*rtl:ignore*/
		border-left: 1px solid $gray-700;
	}
}

/**
* ================================================
* Main navbar
* ================================================
*/
.main-navbar {
	min-height: 75px;
	background-color: #e0e0e0;
	font-weight: 700;

	.nav-item {
		/*rtl:ignore*/
		border-right: 1px solid #ccc;
	}
}

/**
* ================================================
* Jumbotron
* ================================================
*/
.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/bg.jpg");
	background-size: cover;
	background-position: bottom;
	color: #fff;

	button {
		animation: pulse 2s infinite;
	}
}

/**
* ================================================
* Most visited
* ================================================
*/
.most-visited {
	background-color: #404041;

	h2 {
		position: relative;

		&::after {
			content: " ";
			display: block;
			width: 88%;
			height: 5px;
			background-color: rgba(222, 226, 230, 0.1803921569);
			position: absolute;
			top: 21px;
			/*rtl:begin:ignore*/
			border-top-right-radius: 100%;
			border-bottom-right-radius: 100%;
			left: 0;
			/*rtl:end:ignore*/
		}
	}

	#most-visited-carousel {
		.swiper-button-next,
		.swiper-button-prev {
			color: #333;
			background: #fff;
			padding: 23px;
			border-radius: 50%;
		}

		.swiper-button-next::after,
		.swiper-button-prev::after {
			font-size: 1rem !important;
			font-weight: bold;
		}
	}
}

/**
* ================================================
* Home Pub Section
* ================================================
*/
.home-pub-section {
	h2 {
		position: relative;

		&::after {
			content: " ";
			display: block;
			width: 85%;
			height: 5px;
			background-color: rgba(222, 226, 230, 0.519);
			position: absolute;
			top: 21px;
			/*rtl:begin:ignore*/
			border-top-right-radius: 100%;
			border-bottom-right-radius: 100%;
			left: 0;
			/*rtl:end:ignore*/
		}

		a {
			position: absolute;
			z-index: 1;
			top: 8px;
			/*rtl:ignore*/
			left: 10px;
			padding: 5px 15px;
			background: #404041;
			text-decoration: none;
			font-size: 0.9rem;
			font-weight: 600;
			color: #fff;
			border-radius: 20px;
			border: 1px solid #ddd;
			box-shadow: 0 0 15px #d2d2d2;
			transition: all 0.3s ease-in-out;

			&:hover {
				background: #f8f8f8;
				border: 1px solid #404041;
				color: #404041;
			}
		}
	}

	.meta-info {
		font-size: 0.8rem;
	}
}

/**
* ================================================
* Pubs pagination
* ================================================
*/
.pubs-pagination .pagination {
	--bs-pagination-color: $secondary;
	--bs-pagination-active-bg: #555;
	--bs-pagination-active-border-color: #555;
}

/**
* ================================================
* [...]
* ================================================
*/
.pub-page {
	.btn-close {
		width: 0.1em;
		height: 0.1em;
		padding: 0.7rem;
	}

	.meta-info {
		font-size: 0.8rem;
	}

	.filter {
		border: 0;
		border-bottom: 1px solid #ddd;
		margin-bottom: 15px;
		border-radius: 0;
		font-size: 1.1rem;

		&:focus {
			box-shadow: none;
		}
	}
}

/**
* ================================================
* [...]
* ================================================
*/
.addpub-address {
	width: 83% !important;
}
// .addpub-city {
// 	/*rtl:begin:ignore*/
// 	border-top-right-radius: 5px !important;
// 	border-bottom-right-radius: 5px !important;
// 	/*rtl:end:ignore*/
// }
// // .addpub-area {}
@include media-breakpoint-up(lg) {
	.addpub-address {
		flex-grow: 2 !important;
		width: auto !important;
	}
}
/**
* ================================================
* Single Pub Page Gallery
* ================================================
*/
.pub-gallery {
	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		max-height: 500px;
	}

	.swiper {
		width: 100%;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.swiper-slide {
		background-size: cover;
		background-position: center;
	}

	.gallery-main-carousell {
		height: auto;
		width: 100%;
	}

	.gallery-thumb-carousell {
		height: 100px !important;
		box-sizing: border-box;
		padding: 10px 0;
	}

	.gallery-thumb-carousell .swiper-slide {
		width: 25%;
		height: 100%;
		opacity: 0.4;
	}

	.gallery-thumb-carousell .swiper-slide-thumb-active {
		opacity: 1;
	}

	.gallery-thumb-carousell .swiper-slide img {
		cursor: pointer;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

/**
* ================================================
* [...]
* ================================================
*/

/**
* ================================================
* [...]
* ================================================
*/

/**
* ================================================
* [...]
* ================================================
*/
